<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAddUser" th:href="@{/toAddUser}" class="btn btn-info">add</a>
    </div>
</div>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Userid</th>
            <th>Account</th>
            <th>UserName</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <th scope="row" th:text="${user.userid}"></th>
            <td th:text="${user.account}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.sex}"></td>
            <td th:text="${user.phone}"></td>
            <td><a th:href="@{/toEditUser(userid=${user.userid})}">edit</a></td>
            <td><a th:href="@{/deleteUser(userid=${user.userid})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>